
protobuf/cpp

third_party_lib/log4cplus
third_party_lib/redis
third_party_lib/hiredis

log/server/*log*
log/groot/*log*
log/redis/*log*

data/redis/appendonly.aof
data/redis/dump.rdb

test/nohup.out
test/log/*

test/common_test
test/log4cplus_test
test/singleton_test
test/thread_pool_test
test/func_thread_pool_test
test/protobuf_test
test/thread_safe_container_test
test/packet_test
test/object_pool_test
test/timer_test
test/shm_master_test
test/shm_slave_test
test/patch_test
test/libpatch.so
test/redis_test
test/circle_buffer_test
test/net_server_test
test/net_client_test
test/snow_flake_test
test/redis_lock_test
test/redis_script_test
test/pcre_test
